In [1]:
# import dependencies
import pandas as pd
from path import Path

In [2]:
# import cleaned pitching data
data = Path('2010-2019_pitching_clean.csv')
pitch_df = pd.read_csv(data, index_col=False)
pitch_df

,ID,playerID,yearID,stint,teamID,lgID,W,L,G,GS,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,2010aardsda01,aardsda01,2010,1,SEA,AL,0,6,53,0,...,5.0,2,2.0,0,202.0,43,19,7.0,1.0,5.0
1,2010abadfe01,abadfe01,2010,1,HOU,NL,0,1,22,0,...,0.0,0,0.0,0,76.0,6,6,0.0,1.0,0.0
2,2010accarje01,accarje01,2010,1,TOR,AL,0,1,5,0,...,0.0,2,1.0,0,34.0,2,6,0.0,0.0,2.0
3,2010aceveal01,aceveal01,2010,1,NYA,AL,3,0,10,0,...,1.0,0,1.0,0,53.0,2,5,0.0,0.0,0.0
4,2010acostma01,acostma01,2010,1,NYN,NL,3,2,41,0,...,1.0,3,0.0,0,157.0,12,13,1.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7862,2019zamorda01,zamorda01,2019,1,NYN,NL,0,1,17,0,...,1.0,0,1.0,0,41.0,3,5,0.0,1.0,0.0
7863,2019zeuchtj01,zeuchtj01,2019,1,TOR,AL,1,2,5,3,...,0.0,2,0.0,0,99.0,0,13,0.0,0.0,1.0
7864,2019zimmejo02,zimmejo02,2019,1,DET,AL,1,13,23,23,...,2.0,3,6.0,0,504.0,0,89,3.0,4.0,5.0
7865,2019zimmeky01,zimmeky01,2019,1,KCA,AL,0,1,15,0,...,0.0,2,0.0,0,102.0,3,22,0.0,0.0,1.0
7866,2019zobribe01,zobribe01,2019,1,CHN,NL,0,0,1,0,...,0.0,0,0.0,0,5.0,1,0,0.0,0.0,0.0

In [3]:
# import cleaned people data
data = Path('2010-2019_people_clean.csv')
ppl_df = pd.read_csv(data, index_col=False)
ppl_df

        playerID  weight  height bats throws
0      aardsda01   215.0    75.0    R      R
1      aaronha01   180.0    72.0    R      R
2      aaronto01   190.0    75.0    R      R
3       aasedo01   190.0    75.0    R      R
4       abadan01   184.0    73.0    L      L
...          ...     ...     ...  ...    ...
20353   zupofr01   182.0    71.0    L      R
20354  zuvelpa01   173.0    72.0    R      R
20355  zuverge01   195.0    76.0    R      R
20356  zwilldu01   160.0    66.0    L      L
20357   zychto01   190.0    75.0    R      R

[20358 rows x 5 columns]

In [4]:
pitch_ppl = pd.merge(left=pitch_df, right=ppl_df, how='left', left_on='playerID', right_on='playerID')
pitch_ppl

,ID,playerID,yearID,stint,teamID,lgID,W,L,G,GS,...,BFP,GF,R,SH,SF,GIDP,weight,height,bats,throws
0,2010aardsda01,aardsda01,2010,1,SEA,AL,0,6,53,0,...,202.0,43,19,7.0,1.0,5.0,215.0,75.0,R,R
1,2010abadfe01,abadfe01,2010,1,HOU,NL,0,1,22,0,...,76.0,6,6,0.0,1.0,0.0,235.0,74.0,L,L
2,2010accarje01,accarje01,2010,1,TOR,AL,0,1,5,0,...,34.0,2,6,0.0,0.0,2.0,195.0,72.0,R,R
3,2010aceveal01,aceveal01,2010,1,NYA,AL,3,0,10,0,...,53.0,2,5,0.0,0.0,0.0,205.0,74.0,R,R
4,2010acostma01,acostma01,2010,1,NYN,NL,3,2,41,0,...,157.0,12,13,1.0,1.0,4.0,215.0,76.0,R,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7862,2019zamorda01,zamorda01,2019,1,NYN,NL,0,1,17,0,...,41.0,3,5,0.0,1.0,0.0,195.0,75.0,L,L
7863,2019zeuchtj01,zeuchtj01,2019,1,TOR,AL,1,2,5,3,...,99.0,0,13,0.0,0.0,1.0,245.0,79.0,R,R
7864,2019zimmejo02,zimmejo02,2019,1,DET,AL,1,13,23,23,...,504.0,0,89,3.0,4.0,5.0,225.0,74.0,R,R
7865,2019zimmeky01,zimmeky01,2019,1,KCA,AL,0,1,15,0,...,102.0,3,22,0.0,0.0,1.0,225.0,75.0,R,R
7866,2019zobribe01,zobribe01,2019,1,CHN,NL,0,0,1,0,...,5.0,1,0,0.0,0.0,0.0,210.0,75.0,B,R

In [5]:
# see if people data merged properly
pd.set_option('display.max_columns', None)
pitch_ppl.loc[pitch_ppl['playerID'] == 'abadfe01']

,ID,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,HR,BB,SO,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,weight,height,bats,throws
1,2010abadfe01,abadfe01,2010,1,HOU,NL,0,1,22,0,0,0,0,57,14,6,3,5,12,0.200,2.84,0.0,0,0.0,0,76.0,6,6,0.0,1.0,0.0,235.0,74.0,L,L
684,2011abadfe01,abadfe01,2011,1,HOU,NL,1,4,29,0,0,0,0,59,28,16,5,9,15,0.326,7.32,0.0,0,1.0,0,99.0,1,18,1.0,2.0,0.0,235.0,74.0,L,L
1392,2012abadfe01,abadfe01,2012,1,HOU,NL,0,6,37,6,0,0,0,138,57,26,6,19,38,0.311,5.09,1.0,4,3.0,0,208.0,8,27,2.0,1.0,4.0,235.0,74.0,L,L
2113,2013abadfe01,abadfe01,2013,1,WAS,NL,0,3,39,0,0,0,0,113,42,14,3,10,32,0.271,3.35,0.0,0,1.0,0,166.0,17,14,0.0,0.0,0.0,235.0,74.0,L,L
2836,2014abadfe01,abadfe01,2014,1,OAK,AL,2,4,69,0,0,0,0,172,34,10,4,15,51,0.175,1.57,3.0,0,4.0,0,216.0,17,11,1.0,2.0,6.0,235.0,74.0,L,L
3580,2015abadfe01,abadfe01,2015,1,OAK,AL,2,2,62,0,0,0,0,143,45,22,11,19,45,0.251,4.15,3.0,4,1.0,0,205.0,17,23,3.0,3.0,1.0,235.0,74.0,L,L
4387,2016abadfe01,abadfe01,2016,1,MIN,AL,1,4,39,0,0,0,1,102,27,10,2,14,29,0.220,2.65,2.0,0,0.0,1,138.0,8,11,0.0,1.0,6.0,235.0,74.0,L,L
4388,2016abadfe01,abadfe01,2016,2,BOS,AL,0,2,18,0,0,0,0,38,13,9,2,8,12,0.255,6.39,0.0,1,1.0,0,60.0,7,9,0.0,0.0,1.0,235.0,74.0,L,L
5211,2017abadfe01,abadfe01,2017,1,BOS,AL,2,1,48,0,0,0,1,131,40,16,4,14,37,0.242,3.30,1.0,0,1.0,1,182.0,15,18,0.0,2.0,4.0,235.0,74.0,L,L
6939,2019abadfe01,abadfe01,2019,1,SFN,NL,0,2,21,0,0,0,0,39,9,6,2,3,9,0.196,4.15,0.0,1,0.0,0,49.0,1,6,0.0,0.0,3.0,235.0,74.0,L,L

In [6]:
# # drop playerID, yearID cols from pitch_ppl df to prep for merge with sal_df
pitch_ppl=pitch_ppl.drop(['playerID','yearID'], axis=1)
pitch_ppl

,ID,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,HR,BB,SO,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,weight,height,bats,throws
0,2010aardsda01,1,SEA,AL,0,6,53,0,0,0,31,149,33,19,5,25,49,0.198,3.44,5.0,2,2.0,0,202.0,43,19,7.0,1.0,5.0,215.0,75.0,R,R
1,2010abadfe01,1,HOU,NL,0,1,22,0,0,0,0,57,14,6,3,5,12,0.200,2.84,0.0,0,0.0,0,76.0,6,6,0.0,1.0,0.0,235.0,74.0,L,L
2,2010accarje01,1,TOR,AL,0,1,5,0,0,0,0,20,12,6,0,3,3,0.400,8.10,0.0,2,1.0,0,34.0,2,6,0.0,0.0,2.0,195.0,72.0,R,R
3,2010aceveal01,1,NYA,AL,3,0,10,0,0,0,1,36,10,4,1,4,2,0.208,3.00,1.0,0,1.0,0,53.0,2,5,0.0,0.0,0.0,205.0,74.0,R,R
4,2010acostma01,1,NYN,NL,3,2,41,0,0,0,1,119,30,13,4,18,42,0.219,2.95,1.0,3,0.0,0,157.0,12,13,1.0,1.0,4.0,215.0,76.0,R,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7862,2019zamorda01,1,NYN,NL,0,1,17,0,0,0,0,26,10,5,1,5,8,0.294,5.19,1.0,0,1.0,0,41.0,3,5,0.0,1.0,0.0,195.0,75.0,L,L
7863,2019zeuchtj01,1,TOR,AL,1,2,5,3,0,0,0,68,22,12,2,11,20,0.250,4.76,0.0,2,0.0,0,99.0,0,13,0.0,0.0,1.0,245.0,79.0,R,R
7864,2019zimmejo02,1,DET,AL,1,13,23,23,0,0,0,336,145,86,19,25,82,0.311,6.91,2.0,3,6.0,0,504.0,0,89,3.0,4.0,5.0,225.0,74.0,R,R
7865,2019zimmeky01,1,KCA,AL,0,1,15,0,0,0,0,55,28,22,2,19,18,0.337,10.80,0.0,2,0.0,0,102.0,3,22,0.0,0.0,1.0,225.0,75.0,R,R
7866,2019zobribe01,1,CHN,NL,0,0,1,0,0,0,0,3,0,0,0,2,1,0.000,0.00,0.0,0,0.0,0,5.0,1,0,0.0,0.0,0.0,210.0,75.0,B,R

In [7]:
# import cleaned salaries data
# first import pitching stats data
data = Path('2010-2019_salaries_clean.csv')
sal_df = pd.read_csv(data, index_col=False)
sal_df=sal_df.dropna()
sal_df

                 ID  yearID teamID lgID   playerID    salary
0     2010abreuto01    2010    ARI   NL  abreuto01    407000
1     2010boyerbl01    2010    ARI   NL  boyerbl01    725000
2      2010drewst01    2010    ARI   NL   drewst01   3400000
3     2010gutieju01    2010    ARI   NL  gutieju01    411000
4     2010harenda01    2010    ARI   NL  harenda01   8250000
...             ...     ...    ...  ...        ...       ...
5799  2016strasst01    2016    WAS   NL  strasst01  10400000
5800  2016taylomi02    2016    WAS   NL  taylomi02    524000
5801  2016treinbl01    2016    WAS   NL  treinbl01    524900
5802  2016werthja01    2016    WAS   NL  werthja01  21733615
5803  2016zimmery01    2016    WAS   NL  zimmery01  14000000

[5804 rows x 6 columns]

In [8]:
sal_df.loc[sal_df['playerID']=='abadfe01']

                ID  yearID teamID lgID  playerID   salary
1126  2011abadfe01    2011    HOU   NL  abadfe01   418000
1953  2012abadfe01    2012    HOU   NL  abadfe01   485000
3835  2014abadfe01    2014    OAK   AL  abadfe01   525900
4651  2015abadfe01    2015    OAK   AL  abadfe01  1087500
5414  2016abadfe01    2016    MIN   AL  abadfe01  1250000

In [9]:
# make sure no nan vals
sal_df.isnull().any().any()

False

In [10]:
# # drop playerID, yearID, teamID, lgID cols from sal_df to prep for merge
sal_df=sal_df.drop(['playerID','yearID','teamID','lgID'], axis=1)
sal_df

                 ID    salary
0     2010abreuto01    407000
1     2010boyerbl01    725000
2      2010drewst01   3400000
3     2010gutieju01    411000
4     2010harenda01   8250000
...             ...       ...
5799  2016strasst01  10400000
5800  2016taylomi02    524000
5801  2016treinbl01    524900
5802  2016werthja01  21733615
5803  2016zimmery01  14000000

[5804 rows x 2 columns]

In [11]:
# left join pitch_ppl + sal_df
pitch_ppl_sal = pd.merge(left=pitch_ppl, right=sal_df, how='left', left_on='ID', right_on='ID')
pitch_ppl_sal

,ID,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,HR,BB,SO,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,weight,height,bats,throws,salary
0,2010aardsda01,1,SEA,AL,0,6,53,0,0,0,31,149,33,19,5,25,49,0.198,3.44,5.0,2,2.0,0,202.0,43,19,7.0,1.0,5.0,215.0,75.0,R,R,2750000.0
1,2010abadfe01,1,HOU,NL,0,1,22,0,0,0,0,57,14,6,3,5,12,0.200,2.84,0.0,0,0.0,0,76.0,6,6,0.0,1.0,0.0,235.0,74.0,L,L,NaN
2,2010accarje01,1,TOR,AL,0,1,5,0,0,0,0,20,12,6,0,3,3,0.400,8.10,0.0,2,1.0,0,34.0,2,6,0.0,0.0,2.0,195.0,72.0,R,R,1080000.0
3,2010aceveal01,1,NYA,AL,3,0,10,0,0,0,1,36,10,4,1,4,2,0.208,3.00,1.0,0,1.0,0,53.0,2,5,0.0,0.0,0.0,205.0,74.0,R,R,435650.0
4,2010acostma01,1,NYN,NL,3,2,41,0,0,0,1,119,30,13,4,18,42,0.219,2.95,1.0,3,0.0,0,157.0,12,13,1.0,1.0,4.0,215.0,76.0,R,R,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7862,2019zamorda01,1,NYN,NL,0,1,17,0,0,0,0,26,10,5,1,5,8,0.294,5.19,1.0,0,1.0,0,41.0,3,5,0.0,1.0,0.0,195.0,75.0,L,L,NaN
7863,2019zeuchtj01,1,TOR,AL,1,2,5,3,0,0,0,68,22,12,2,11,20,0.250,4.76,0.0,2,0.0,0,99.0,0,13,0.0,0.0,1.0,245.0,79.0,R,R,NaN
7864,2019zimmejo02,1,DET,AL,1,13,23,23,0,0,0,336,145,86,19,25,82,0.311,6.91,2.0,3,6.0,0,504.0,0,89,3.0,4.0,5.0,225.0,74.0,R,R,NaN
7865,2019zimmeky01,1,KCA,AL,0,1,15,0,0,0,0,55,28,22,2,19,18,0.337,10.80,0.0,2,0.0,0,102.0,3,22,0.0,0.0,1.0,225.0,75.0,R,R,NaN
7866,2019zobribe01,1,CHN,NL,0,0,1,0,0,0,0,3,0,0,0,2,1,0.000,0.00,0.0,0,0.0,0,5.0,1,0,0.0,0.0,0.0,210.0,75.0,B,R,NaN

In [13]:
# drop nan values
pitch_ppl_sal=pitch_ppl_sal.dropna()
pitch_ppl_sal

,ID,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,HR,BB,SO,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,weight,height,bats,throws,salary
0,2010aardsda01,1,SEA,AL,0,6,53,0,0,0,31,149,33,19,5,25,49,0.198,3.44,5.0,2,2.0,0,202.0,43,19,7.0,1.0,5.0,215.0,75.0,R,R,2750000.0
2,2010accarje01,1,TOR,AL,0,1,5,0,0,0,0,20,12,6,0,3,3,0.400,8.10,0.0,2,1.0,0,34.0,2,6,0.0,0.0,2.0,195.0,72.0,R,R,1080000.0
3,2010aceveal01,1,NYA,AL,3,0,10,0,0,0,1,36,10,4,1,4,2,0.208,3.00,1.0,0,1.0,0,53.0,2,5,0.0,0.0,0.0,205.0,74.0,R,R,435650.0
5,2010adamsmi03,1,SDN,NL,4,1,70,0,0,0,0,200,48,13,2,23,73,0.196,1.76,2.0,0,0.0,0,268.0,3,14,0.0,0.0,2.0,210.0,77.0,R,R,1000000.0
6,2010affelje01,1,SFN,NL,4,3,53,0,0,0,4,150,56,23,4,24,44,0.290,4.14,5.0,4,3.0,0,228.0,14,25,7.0,1.0,4.0,225.0,76.0,L,L,4000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5204,2016youngch03,1,KCA,AL,3,9,34,13,0,0,1,266,104,61,28,43,94,0.291,6.19,1.0,3,1.0,0,406.0,7,63,0.0,4.0,3.0,255.0,82.0,R,R,4250000.0
5207,2016zieglbr01,1,ARI,NL,2,3,36,0,0,0,18,115,41,12,1,15,27,0.281,2.82,5.0,0,2.0,0,165.0,30,13,1.0,1.0,10.0,220.0,76.0,R,R,5500000.0
5208,2016zieglbr01,2,BOS,AL,2,4,33,0,0,0,4,89,26,5,1,11,31,0.234,1.52,2.0,1,1.0,0,124.0,12,8,1.0,0.0,6.0,220.0,76.0,R,R,5500000.0
5209,2016zimmejo02,1,DET,AL,9,7,19,18,0,0,0,316,118,57,14,26,66,0.284,4.87,0.0,3,2.0,0,450.0,1,63,1.0,5.0,8.0,225.0,74.0,R,R,18000000.0
5210,2016zychto01,1,SEA,AL,1,0,12,0,0,0,0,41,10,5,0,10,21,0.208,3.29,2.0,0,1.0,0,60.0,3,6,0.0,1.0,1.0,190.0,75.0,R,R,511000.0

In [15]:
# export dataset as csv
# export cleaned pitching stats as csv
pitch_ppl_sal.to_csv('2010-2019_data.csv', index=False)