In [1]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy
import matplotlib.pyplot as plot
from path import Path

In [2]:
# Loading data
file_path = Path("encoded_pitcher_stat_sal_dem.csv")
df = pd.read_csv(file_path)
df

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,R,SH,SF,GIDP,salary,birthYear,birthMonth,weight,height,throws
0,abadfe01,2016,1,16,0,1,4,39,0,0,...,11,0.0,1.0,6.0,1250000.0,1985.0,12.0,235.0,74.0,0
1,alberma01,2016,1,4,0,2,6,58,1,0,...,44,3.0,2.0,4.0,2000000.0,1983.0,1.0,225.0,73.0,1
2,allenco01,2016,1,7,0,3,5,67,0,0,...,23,3.0,2.0,7.0,4150000.0,1988.0,11.0,210.0,73.0,1
3,alvarjo02,2016,1,12,0,1,3,64,0,0,...,29,1.0,1.0,5.0,507500.0,1989.0,5.0,195.0,71.0,0
4,anderbr04,2016,1,13,1,1,2,4,3,0,...,15,1.0,1.0,0.0,15800000.0,1988.0,2.0,230.0,76.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,yateski01,2016,1,17,0,2,1,41,0,0,...,24,1.0,1.0,1.0,511900.0,1987.0,3.0,205.0,70.0,1
412,youngch03,2016,1,11,0,3,9,34,13,0,...,63,0.0,4.0,3.0,4250000.0,1979.0,5.0,255.0,82.0,1
413,zieglbr01,2016,1,0,1,2,3,36,0,0,...,13,1.0,1.0,10.0,5500000.0,1979.0,10.0,220.0,76.0,1
414,zimmejo02,2016,1,9,0,9,7,19,18,0,...,63,1.0,5.0,8.0,18000000.0,1986.0,5.0,225.0,74.0,1
415,zychto01,2016,1,23,0,1,0,12,0,0,...,6,0.0,1.0,1.0,511000.0,1990.0,8.0,190.0,75.0,1

In [3]:
df['salary'].describe()

count    4.160000e+02
mean     4.002667e+06
std      5.587300e+06
min      5.075000e+05
25%      5.200000e+05
50%      1.325000e+06
75%      5.327750e+06
max      3.300000e+07
Name: salary, dtype: float64

In [6]:
sal_bins=pd.qcut(df['salary'], q=3)

In [7]:
sal_bins.value_counts()

(507499.999, 529000.0]     140
(529000.0, 3750000.0]      138
(3750000.0, 33000000.0]    138
Name: salary, dtype: int64

In [8]:
# Adding Labels to Pandas .qcut()
df['salary-bin'] = pd.qcut(
   df['salary'], 
   q=3, 
   labels=['low', 'mid', 'high']
)
print(df.head())

    playerID  yearID  stint  teamID  lgID  W  L   G  GS  CG  ...   SH   SF  \
0   abadfe01    2016      1      16     0  1  4  39   0   0  ...  0.0  1.0
1  alberma01    2016      1       4     0  2  6  58   1   0  ...  3.0  2.0
2  allenco01    2016      1       7     0  3  5  67   0   0  ...  3.0  2.0
3  alvarjo02    2016      1      12     0  1  3  64   0   0  ...  1.0  1.0
4  anderbr04    2016      1      13     1  1  2   4   3   0  ...  1.0  1.0

   GIDP      salary  birthYear  birthMonth  weight  height  throws  salary-bin
0   6.0   1250000.0     1985.0        12.0   235.0    74.0       0         mid
1   4.0   2000000.0     1983.0         1.0   225.0    73.0       1         mid
2   7.0   4150000.0     1988.0        11.0   210.0    73.0       1        high
3   5.0    507500.0     1989.0         5.0   195.0    71.0       0         low
4   0.0  15800000.0     1988.0         2.0   230.0    76.0       0        high

[5 rows x 37 columns]

In [9]:
df.head()

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,SH,SF,GIDP,salary,birthYear,birthMonth,weight,height,throws,salary-bin
0,abadfe01,2016,1,16,0,1,4,39,0,0,...,0.0,1.0,6.0,1250000.0,1985.0,12.0,235.0,74.0,0,mid
1,alberma01,2016,1,4,0,2,6,58,1,0,...,3.0,2.0,4.0,2000000.0,1983.0,1.0,225.0,73.0,1,mid
2,allenco01,2016,1,7,0,3,5,67,0,0,...,3.0,2.0,7.0,4150000.0,1988.0,11.0,210.0,73.0,1,high
3,alvarjo02,2016,1,12,0,1,3,64,0,0,...,1.0,1.0,5.0,507500.0,1989.0,5.0,195.0,71.0,0,low
4,anderbr04,2016,1,13,1,1,2,4,3,0,...,1.0,1.0,0.0,15800000.0,1988.0,2.0,230.0,76.0,0,high

In [10]:
# export new df with binned salaries
df.to_csv('salaries-binned.csv', index=False)