In [1]:
# import dependencies
import pandas as pd
from path import Path

In [2]:
# import cleaned pitching data
data = Path('encoded_data.csv')
df = pd.read_csv(data, index_col=False)
df

,ID,stint,teamID,lgID,W,L,G,GS,CG,SHO,...,GF,R,SH,SF,GIDP,weight,height,bats,throws,salary
0,2010aardsda01,1,24,0,0,6,53,0,0,0,...,43,19,7.0,1.0,5.0,215.0,75.0,2,1,2750000.0
1,2010accarje01,1,29,0,0,1,5,0,0,0,...,2,6,0.0,0.0,2.0,195.0,72.0,2,1,1080000.0
2,2010aceveal01,1,18,0,3,0,10,0,0,0,...,2,5,0.0,0.0,0.0,205.0,74.0,2,1,435650.0
3,2010adamsmi03,1,23,1,4,1,70,0,0,0,...,3,14,0.0,0.0,2.0,210.0,77.0,2,1,1000000.0
4,2010affelje01,1,25,1,4,3,53,0,0,0,...,14,25,7.0,1.0,4.0,225.0,76.0,1,0,4000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3094,2016youngch03,1,12,0,3,9,34,13,0,0,...,7,63,0.0,4.0,3.0,255.0,82.0,2,1,4250000.0
3095,2016zieglbr01,1,0,1,2,3,36,0,0,0,...,30,13,1.0,1.0,10.0,220.0,76.0,2,1,5500000.0
3096,2016zieglbr01,2,3,0,2,4,33,0,0,0,...,12,8,1.0,0.0,6.0,220.0,76.0,2,1,5500000.0
3097,2016zimmejo02,1,9,0,9,7,19,18,0,0,...,1,63,1.0,5.0,8.0,225.0,74.0,2,1,18000000.0
3098,2016zychto01,1,24,0,1,0,12,0,0,0,...,3,6,0.0,1.0,1.0,190.0,75.0,2,1,511000.0

In [5]:
# look at salary stats distribution
df['salary'].describe()

count    3.099000e+03
mean     3.504435e+06
std      4.688130e+06
min      4.000000e+05
25%      5.095000e+05
50%      1.300000e+06
75%      4.500000e+06
max      3.300000e+07
Name: salary, dtype: float64

In [6]:
# create bins for salary
sal_bins=pd.qcut(df['salary'], q=3)

In [7]:
# see how many rows in each bin
sal_bins.value_counts()

(521900.0, 3250000.0]      1041
(399999.999, 521900.0]     1033
(3250000.0, 33000000.0]    1025
Name: salary, dtype: int64

In [9]:
# Adding column + labels for salary bins
df['salary-bin'] = pd.qcut(
   df['salary'], 
   q=3, 
   labels=['low', 'mid', 'high']
)
df.head()

,ID,stint,teamID,lgID,W,L,G,GS,CG,SHO,...,R,SH,SF,GIDP,weight,height,bats,throws,salary,salary-bin
0,2010aardsda01,1,24,0,0,6,53,0,0,0,...,19,7.0,1.0,5.0,215.0,75.0,2,1,2750000.0,mid
1,2010accarje01,1,29,0,0,1,5,0,0,0,...,6,0.0,0.0,2.0,195.0,72.0,2,1,1080000.0,mid
2,2010aceveal01,1,18,0,3,0,10,0,0,0,...,5,0.0,0.0,0.0,205.0,74.0,2,1,435650.0,low
3,2010adamsmi03,1,23,1,4,1,70,0,0,0,...,14,0.0,0.0,2.0,210.0,77.0,2,1,1000000.0,mid
4,2010affelje01,1,25,1,4,3,53,0,0,0,...,25,7.0,1.0,4.0,225.0,76.0,1,0,4000000.0,high

In [10]:
# export as csv
df.to_csv('encoded_data_binned.csv', index=False)