In [1]:
# import dependencies
import pandas as pd
from path import Path

In [2]:
# import cleaned pitching data
data = Path('2010-2019_data.csv')
df = pd.read_csv(data, index_col=False)
df

,ID,stint,teamID,lgID,W,L,G,GS,CG,SHO,...,GF,R,SH,SF,GIDP,weight,height,bats,throws,salary
0,2010aardsda01,1,SEA,AL,0,6,53,0,0,0,...,43,19,7.0,1.0,5.0,215.0,75.0,R,R,2750000.0
1,2010accarje01,1,TOR,AL,0,1,5,0,0,0,...,2,6,0.0,0.0,2.0,195.0,72.0,R,R,1080000.0
2,2010aceveal01,1,NYA,AL,3,0,10,0,0,0,...,2,5,0.0,0.0,0.0,205.0,74.0,R,R,435650.0
3,2010adamsmi03,1,SDN,NL,4,1,70,0,0,0,...,3,14,0.0,0.0,2.0,210.0,77.0,R,R,1000000.0
4,2010affelje01,1,SFN,NL,4,3,53,0,0,0,...,14,25,7.0,1.0,4.0,225.0,76.0,L,L,4000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3094,2016youngch03,1,KCA,AL,3,9,34,13,0,0,...,7,63,0.0,4.0,3.0,255.0,82.0,R,R,4250000.0
3095,2016zieglbr01,1,ARI,NL,2,3,36,0,0,0,...,30,13,1.0,1.0,10.0,220.0,76.0,R,R,5500000.0
3096,2016zieglbr01,2,BOS,AL,2,4,33,0,0,0,...,12,8,1.0,0.0,6.0,220.0,76.0,R,R,5500000.0
3097,2016zimmejo02,1,DET,AL,9,7,19,18,0,0,...,1,63,1.0,5.0,8.0,225.0,74.0,R,R,18000000.0
3098,2016zychto01,1,SEA,AL,1,0,12,0,0,0,...,3,6,0.0,1.0,1.0,190.0,75.0,R,R,511000.0

In [3]:
df.dtypes

ID         object
stint       int64
teamID     object
lgID       object
W           int64
L           int64
G           int64
GS          int64
CG          int64
SHO         int64
SV          int64
IPouts      int64
H           int64
ER          int64
HR          int64
BB          int64
SO          int64
BAOpp     float64
ERA       float64
IBB       float64
WP          int64
HBP       float64
BK          int64
BFP       float64
GF          int64
R           int64
SH        float64
SF        float64
GIDP      float64
weight    float64
height    float64
bats       object
throws     object
salary    float64
dtype: object

In [6]:
# encode object features
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
encoded_df = df.copy()
df['teamID'] = le.fit_transform(df['teamID'])
df['lgID'] = le.fit_transform(df['lgID'])
df['throws'] = le.fit_transform(df['throws'])
df['bats'] = le.fit_transform(df['bats'])

df

,ID,stint,teamID,lgID,W,L,G,GS,CG,SHO,...,GF,R,SH,SF,GIDP,weight,height,bats,throws,salary
0,2010aardsda01,1,24,0,0,6,53,0,0,0,...,43,19,7.0,1.0,5.0,215.0,75.0,2,1,2750000.0
1,2010accarje01,1,29,0,0,1,5,0,0,0,...,2,6,0.0,0.0,2.0,195.0,72.0,2,1,1080000.0
2,2010aceveal01,1,18,0,3,0,10,0,0,0,...,2,5,0.0,0.0,0.0,205.0,74.0,2,1,435650.0
3,2010adamsmi03,1,23,1,4,1,70,0,0,0,...,3,14,0.0,0.0,2.0,210.0,77.0,2,1,1000000.0
4,2010affelje01,1,25,1,4,3,53,0,0,0,...,14,25,7.0,1.0,4.0,225.0,76.0,1,0,4000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3094,2016youngch03,1,12,0,3,9,34,13,0,0,...,7,63,0.0,4.0,3.0,255.0,82.0,2,1,4250000.0
3095,2016zieglbr01,1,0,1,2,3,36,0,0,0,...,30,13,1.0,1.0,10.0,220.0,76.0,2,1,5500000.0
3096,2016zieglbr01,2,3,0,2,4,33,0,0,0,...,12,8,1.0,0.0,6.0,220.0,76.0,2,1,5500000.0
3097,2016zimmejo02,1,9,0,9,7,19,18,0,0,...,1,63,1.0,5.0,8.0,225.0,74.0,2,1,18000000.0
3098,2016zychto01,1,24,0,1,0,12,0,0,0,...,3,6,0.0,1.0,1.0,190.0,75.0,2,1,511000.0

In [7]:
# export as full dataframe as csv
df.to_csv('encoded_data', index=False)